.banner {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.banner-item {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: slide 12s infinite;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.banner-item:nth-child(1) {
  animation-delay: 0s;
}

.banner-item:nth-child(2) {
  animation-delay: 6s;
}

@keyframes slide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.banner-text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 6px;
}